body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.form {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input,
button,
select {
  padding: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 2px 5px gray;
}

.filter {
  margin-bottom: 20px;
  width: 250px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #007bff;
  color: white;
}
